.blue-theme {

  $colors_current: ( primary: #327eff,light: #5f97ef, secondary: #82b1ff, danger: #f53d3d, dark: #222, black: black, white: white);


  // From here to the next checkpoint is for theming the header - toolbar navbar but not the main content
  transition: all 0.5s ease;

  p {
    color: color($colors_current, black);
  }

  small {
    color: color($colors_current, black);
  }

  h2 {
    color: color($colors_current, primary);
  }

  .toolbar-title {
    background: color($colors_current, light);
    color: color($colors_current, black);
  }

  .bar-button-default {
    background: color($colors_current, light);
    color: color($colors_current, black);
  }

  body {
    color: color($colors_current, black);
  }

  div {
    transition: all 0.5s linear;
    color: color($colors_current, black);
  }

  .onboard {
    border-color: color($colors_current, black);
  }

  .toolbar-background {
    background-color: color($colors_current, light);
  }

  .toggle-checked {
    transition: all 5.1s ease;
    background-color: color($colors_current, black);
  }
  //From here is where the main content is modified, this includes the backgorund of the page, ion-items and more
  ion-content {
    background-color: color($colors_current, primary);
  }

  .input-wrapper {
    background: color($colors_current, white);
    color: color($colors_current, black); // color($colors_current, lightblue);
  }

  .item-inner {
    background: color($colors_current, white);
    color: color($colors_current, black);
  }
  
  .item {
    background: color($colors_current, white);
    color: color($colors_current, black); //color($colors_current, lightblue);
  }

  ion-footer {
    background: color($colors_current, white);
    color: color($colors_current, black);
  }
  
  ion-item {
    background: color($colors_current, white);
    color: color($colors_current, black);
  }

  ion-card {
    background: color($colors_current, light);
    color: color($colors_current, black);
  }

  ion-input {
    background: color($colors_current, white);
    color: color($colors_current, black);
  }

  /*
  ion-icon {
    color: color($colors_current, primary);
  }*/

  ion-label {
    transition: all 0.5s linear;
    background: color($colors_current, white);
    color: color($colors_current, black);
  }

  ion-list {
    background-color: color($colors_current, primary);
    color: color($colors_current, black);
  }

  .time {
    background-color: color($colors_current, white);
    color: color($colors_current, black);
  }

  .item {
    transition: all 1s ease;
    background-color: color($colors_current, white);
    color: color($colors_current, black);
  }

  .button {
    background-color: color($colors_current, light);
    color: color($colors_current, white);
  }
}
