page-welcome {
  #welcome {
    background: color($colors, energy);

    h1 {
      font-size: 52px;
      text-align: center;
      margin-top: 50px
    }

    .marginTop {
      margin-top: 150px;
    }

    .logo {
      height: 100px;
    }
  }

  div.GoText {
    position: fixed;
    margin-right: 30px;
    text-align: center;
    margin-top: 110px;
  }
}
