
<ion-header>
  <ion-navbar>
    <ion-title>Neue Gruppe</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="Gruppenname" [(ngModel)]="groupData.name"></ion-input>
  </ion-item>
  <ion-item>Mitglieder:</ion-item>
  <ion-list>
    <button ion-item color="lightblue" *ngFor="let item of members" (click)="removeFriend(item)">
      <h2><b>{{ item.username }}</b></h2>
    </button>
  </ion-list>
  <button ion-button block color="primary" (click)="createGroup()">Gruppe erstellen</button>

  <ion-item>Kontakte hinzufügen:</ion-item>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Username" [(ngModel)]="userData.username"></ion-input>
    </ion-item>
    <button ion-button block color="primary" (click)="getFriend()">Suchen</button>
  </ion-list>
  <ion-list>
    <button ion-item color="lightblue" *ngFor="let item of items" (click)="addMember(item)">
      <!--<ion-avatar item-start>
        <img src="../assets/icon/chat.svg.png">
      </ion-avatar>-->
      <h2><b>{{ item.username }}</b></h2>
    </button>
  </ion-list>
</ion-content>
