ion-card.friend {
  position: relative;
  color: green;
  overflow: auto;
  right: 1px;
  width: 70%;
}

ion-card.own {
  position: relative;
  overflow: auto;
  color: white;
  left: 25%;
  width: 70%;
}

div.chat {
  position: relative;
  width: 100%;
  padding-bottom: 17%;
}

div.input {
  position: fixed;
  width: 100%;
  height: 10.5%;
  bottom: 6%;
}

ion-item.inputfield {
  float: left;
  position: fixed;
  width: 80%;
  height: 10%;
  bottom: 6.5%;
}

button.details {
  float: right;
  position: fixed;
  right: 2.5%;
  width: 3%;
  height: 8%;
  bottom: 6.5%;
}
