page-details {
  #content {
    background: color($colors, energy);
  }
}

ion-card.friend {
  position: relative;
  color: green;
  overflow: auto;
  right: 1px;
  width: 70%;
}

ion-card.own {
  position: relative;
  overflow: auto;
  color: white;
  left: 25%;
  width: 70%;
}

div.chat {
  position: relative;
  width: 100%;
  padding-bottom: 17%;
}

div.input {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0%;
}

ion-item.inputfield {
  position: fixed;
  width: 80%;
  padding-top: 0%;
  bottom: 3%;
}

button.details {
  float: right;
  position: fixed;
  right: 3%;
  bottom: 3%;
}
