<ion-header>
  <ion-navbar>
    <ion-title>
      {{ item.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content id="content">

  <div class="chat">
      <div *ngFor="let message of messages; let i = index">
        <ion-card class="own" color="lightblue" *ngIf="messages[i].showown">
          <ion-card-content>
            <p>{{ messages[i].message }}</p>
          </ion-card-content>
        </ion-card>
        <ion-card class="friend" color="whiteblue" *ngIf="!messages[i].showown">
          <ion-card-content>
            <p>{{ messages[i].message }}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  <div class="input" style="background-color: white">
    <ion-item class="inputfield">
      <ion-label stacked>Nachricht</ion-label>
      <ion-input id="inputField" type="text" [(ngModel)]="msgOut.message"></ion-input>
    </ion-item>
    <button ion-button round class="details" (click)="msgSend()"><ion-icon name="send"></ion-icon></button>

  </div>
</ion-content>
